* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    text-align: center;
    border: 5px solid black;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

